.mainContainer {
  width: 12%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 23px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 23px;
    text-transform: uppercase;
    border-radius: 25px;
    padding: 10px 15px;
    width: max-content;
  }

  h3 {
    font-size: 20px;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
  }

  h4 {
    font-size: 18px;
    border-radius: 25px;
    padding: 10px 20px;
    min-width: 60%;
    margin: 5px;
    text-align: center;
    cursor: pointer;
  }
}

.dark {
  background: linear-gradient(
    90deg,
    rgb(17, 17, 17) 0%,
    rgb(158, 158, 158) 130%
  );

  h2 {
    background-color: black;
  }

  h3 {
    background-color: black;
  }

  h4 {
    background-color: #fff;
    color: black;
  }
}

.light {
  background: linear-gradient(
    90deg,
    rgba(230, 254, 255, 1) 33%,
    rgba(118, 224, 245, 1) 100%
  );

  h2 {
    background-color: #27818d;
        color: #fff;
  }

  h3 {
    background-color: #27818d;
        color: #fff;

  }

  h4 {
    background-color: #fff;
    color: #27818d;
    border: 1px solid #27818d;
  }
}
