.mainContainer {
  width: 12%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 23px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 23px;
    text-transform: uppercase;
    border-radius: 25px;
    padding: 10px 15px;
    width: max-content;
  }

  h3 {
    font-size: 20px;
    border-radius: 25px;
    padding: 10px 15px;
    margin: 5px;
  }

  h4 {
    font-size: 18px;
    border-radius: 25px;
    padding: 10px 20px;
    min-width: 60%;
    margin: 5px;
    text-align: center;
    cursor: pointer;
  }
}

.dark {
  // background: linear-gradient(
  //   90deg,
  //   rgb(17, 17, 17) 0%,
  //   rgb(158, 158, 158) 130%
  // );
  background-color: #1e1c26;
  border-right: 1px solid #888888;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  h2 {
    // background-color: black;
    border: 1px solid #888888;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  h3 {
    // background-color: black;
    border: 1px solid #888888;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  h4 {
    background-color: #fff;
    color: black;
  }
}

.light {
  // background: linear-gradient(
  //   90deg,
  //   rgba(230, 254, 255, 1) 33%,
  //   rgba(118, 224, 245, 1) 100%
  // );
  background-color: #fff;

  border-right: 1px solid #424242;
  box-shadow: rgba(179, 179, 179, 0.2) 0px 2px 8px 0px;

  h2 {
    // background-color: #27818d;
    // color: #fff;
    border: 1px solid #424242;
    box-shadow: rgba(179, 179, 179, 0.2) 0px 2px 8px 0px;
    color: #1e1c26;
  }

  h3 {
    // background-color: #27818d;
    border: 1px solid #424242;
    box-shadow: rgba(179, 179, 179, 0.2) 0px 2px 8px 0px;
    color: #1e1c26;
  }

  h4 {
    background-color: #1e1c26;
    color: #fff;
    // border: 1px solid #27818d;
    border: 1px solid #424242;
    box-shadow: rgba(179, 179, 179, 0.2) 0px 2px 8px 0px;
  }
}
