.mainContainer {
  display: flex;
  gap: 30px;
  align-items: center;

  p {
    font-size: 15px;
    font-weight: 600;
    margin-left: -34px;
    cursor: pointer;
    text-transform: capitalize;
  }
  .btnStyle {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 7px;
    cursor: pointer;
  }

  .outBtnStyle {
    color: #888888;
    background-color: transparent;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 7px;
    cursor: pointer;
  }
}

.dark {
  .btnStyle {
    color: #1e1c26;
    background-color: #fff;
  }
}
.light {
  .btnStyle {
    color: #ffff;
    background-color: #1e1c26;
  }
}
