.mainContainer {
  min-height: 100vh;
  display: flex;

  .container {
    width: 88%;
    padding: 10px;

    .headContainer {
      display: flex;
      justify-content: space-between;

      @media (max-width: 1700px) {
        flex-wrap: wrap;
        margin-bottom: 10px;
      }

      h1 {
        font-size: 30px;
        padding: 10px 30px;
        border-radius: 50px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 5px;
      }

      .headItemsContainer {
        display: flex;
        align-items: baseline;

        @media (max-width: 1700px) {
          justify-content: space-around;
          width: 100%;
        }
        .activeBtnStyle {
          padding: 5px 45px;
          border-top-left-radius: 50px;
          border-top-right-radius: 50px;
          font-size: 30px;
          height: max-content;
          color: #fff;
          border: none;
          font-weight: 600;
        }

        .btnStyle {
          padding: 5px 45px;
          border-top-left-radius: 50px;
          border-top-right-radius: 50px;
          font-size: 20px;
          height: max-content;
          border: none;
          font-weight: 600;
        }
      }
    }

    .contentContainer {
      display: flex;
      @media (max-width: 1700px) {
        display: block;
      }
      .contentTableContainer {
        width: 35%;
        margin-top: 10px;

        @media (max-width: 1700px) {
          width: 100%;
        }

        .contentInnerTableContainer {
          padding: 20px 7px;
          border-radius: 30px;

          .innerTable {
            height: 70vh;
            overflow-y: scroll;
            padding: 20px 7px;

            .tableStyle {
              display: flex;
              text-align: center;

              h1 {
                width: 60%;
                padding: 20px 10px;
                font-size: 19px;
                margin: 0px;
              }
              h2 {
                width: 40%;
                padding: 20px 10px;
                font-size: 19px;
                margin: 0;
              }
            }
          }
        }
        ::-webkit-scrollbar {
          background-color: transparent;
        }

        ::-webkit-scrollbar-track {
          background: transparent;
        }
      }

      .chartContainer {
        width: 32%;
        padding: 0px 20px;
        margin-top: 10px;

        @media (max-width: 1700px) {
          width: 100%;
        }

        .chartStyle {
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50px;
          margin-bottom: 20px;
        }
      }
    }
  }

  .contentHeadContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      padding: 5px 20px;
      border-radius: 50px;
      font-size: 28px;
      margin: 0 0 6px 0;
    }

    .iconStyle {
      color: #000;
      height: 48px;
      width: 48px;
      cursor: pointer;
    }
  }
}

.dark {
  .container {
    .headContainer {
      h1 {
        border: 1px solid #888888;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      }

      .headItemsContainer {
        .activeBtnStyle {
          background-color: #fff;
          color: #1e1c26;
        }
        .btnStyle {
          background-color: transparent;
          border: 1px solid #888888;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          color: #fff;
        }
      }
    }
    .contentContainer {
      .contentTableContainer {
        .contentInnerTableContainer {
          border: 1px solid #888888;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          .innerTable {
            .tableStyle {
              h1 {
                border: 2px solid #bdbdbd;
              }
              h2 {
                border: 2px solid #bdbdbd;
              }
            }
          }
        }
      }

      .chartContainer {
        .chartStyle {
          background-color: #000;
        }
      }
    }
  }
  .contentHeadContainer {
    h1 {
      border: 1px solid #888888;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .iconStyle {
      color: #000;
    }
  }
}

.light {
  .container {
    .headContainer {
      h1 {
        border: 1px solid #424242;
        box-shadow: rgba(179, 179, 179, 0.2) 0px 2px 8px 0px;
      }
      .headItemsContainer {
        .activeBtnStyle {
          background-color: #1e1c26;
          color: #fff;
        }
        .btnStyle {
          background-color: transparent;
          border: 1px solid #424242;
          box-shadow: rgba(179, 179, 179, 0.2) 0px 2px 8px 0px;
          color: #1e1c26;
        }
      }
    }

    .contentContainer {
      .contentTableContainer {
        .contentInnerTableContainer {
          border: 1px solid #424242;
          box-shadow: rgba(179, 179, 179, 0.2) 0px 2px 8px 0px;
          .innerTable {
            .tableStyle {
              h1 {
                border: 2px solid #bdbdbd;
              }
              h2 {
                border: 2px solid #bdbdbd;
              }
            }
          }
        }
      }
      .chartContainer {
        .chartStyle {
          background-color: #27818d;
        }
      }
    }
  }
  .contentHeadContainer {
    h1 {
      border: 1px solid #424242;
      box-shadow: rgba(179, 179, 179, 0.2) 0px 2px 8px 0px;
    }

    .iconStyle {
      color: #27818d;
    }
  }
}
